.marquee-item {
    animation: scrolling 9s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-56vw);
    }
}